{{!-- <pre>{{ data }}</pre> --}}

<h1>{{ data.customMessage }}</h1>
<img src="https://cdn.pixabay.com/photo/2014/08/27/12/57/penguin-429125_1280.jpg">
<h3>{{ data.status }}</h3>
<h4>{{ data.message }}</h4>