<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    
    <title>Favourite Arctic Animals</title>
</head>
<body>
    <div class="container">
        {{{ body }}}
    </div>

    <script type="module" src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/f8b14333ef.js" crossorigin="anonymous"></script>
</body>
</html>